<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/reset.css">
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/singin.css">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <div class="title">登入</div>
        <form action="">
            <div class="data_field name_field">
                <input type="text" required="" id="txt_name">
                <label for="txt_name">UserName</label>
            </div>
            <div class="data_field password_field">
                <input type="password" required="" id="txt_password">
                <label for="txt_password">Password</label>
            </div>
            <div class="warp_footer clear-fix">
                <div class="hint">還沒有帳號嗎?來<a href="">註冊</a>吧!</div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    <script src="http://127.0.0.1:3000/js/singin.js"></script>
</body>
</html>