*{
    padding: 0px;
    margin: 0px;
}

.menu{
    background-color: #B2F7EF;
    text-align: center;
    font-size: 0px;
}

.menu a{
    display: inline-block;
    padding: 10px 10px;
    background-color: #B2F7EF;
    text-decoration: none;
    color: #003F91;
    font-size: 24px;
}

.menu a:hover{
    background-color: #003F91;
    color: #ffffff;
}