*
{
    font-size: 24px;
}

.name_list
{
    background-color: black;
    padding: 10px 10px;
    color: white;
    counter-reset: data 0;
}

.item
{
    padding: 15px 10px;
    transition: all .5s 0s ease;
    position: relative;
}

.item:hover
{
    background-color: #aaaaaa;
}

.item::before
{
    content: counter(data) ' .';
    counter-increment: data 1;
}

.btn
{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -17px;
}

#txtname
{
    border: none;
    border-bottom: 3px solid black;
    box-shadow: none;
    background-color: transparent;
    outline: none;
}

#txtname:focus + .hit
{
    transform: translateY(-31px);
    font-weight: 900;
    opacity: 1;
}

.add_field
{
    margin: 30px 10px;
    position: relative;
}

.hit
{
    position: absolute;
    left: 1px;
    bottom: 7px;
    opacity: .5;
    transition: all 1s;
}