<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <my-component></my-component>
        <my-component></my-component>
        <local-component></local-component>
        <media-block></media-block>
    </div>
    <script type="text/x-template" id="media-block">
        <div class="media">
            <h5 class="mt-0">Media heading</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere illum ipsam tempore molestiae. Delectus, pariatur hic ut cupiditate dolore officiis enim a dolores atque, doloribus, saepe deserunt facilis dolor tempore.</p>
        </div>
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>
</html>