<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <div id="app">
        {{ text }}
        {{ num }}
        <input type="number" v-model="num">
        {{ person.cash }}
        <button type="button" @click="person.cash++">增加</button>
        <div class="profile">
            {{ person.name }}
            <img :src="person.image" :alt="person.name" srcset="">
            <i class="bi bi-gender-male" v-if="person.gender === 'male'"></i>
            <i class="bi bi-gender-female" v-else></i>
        </div>
        <ul>
            <li v-for="item in people">
                {{ item.name }}
                <img :src="item.image" alt="">
                <i class="bi bi-gender-male" v-if="item.gender === 'male'"></i>
                <i class="bi bi-gender-female" v-else></i>
                {{ item.cash }}
                <button type="button" @click="increaseCash(item)">增加</button>
            </li>
        </ul>
    </div>
    <script type="module" src="index.js"></script>
</body>
</html>