h1+p
{
    color: red;
}

p+p
{
    border-top: 5px solid black;
}

nav a+a
{
    border-left: 3px solid black;
}

nav a
{
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: black;
}