body {
    font-family: 'PingFang TC';
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    align-items: center;
}

.header .shopping-cart a {
    padding-left: 50px;
    padding-right: 0;
}

.header a {
    display: block;
    color: #3f5d45;
    text-decoration: none;
    line-height: 73px;
    padding: 0 30px;
}
.logo {
    margin-top: 16px;
}

.shopping-cart img {
    vertical-align: top;
    margin-top: 24px;
}

.logo {
    width: 219.49px;
}

.header li {
    font-weight: 600;
    text-align: center;
}

.header li:hover a {
    text-decoration: underline;
}

.banner {
    margin-top: 30px;
    margin-bottom: 60px;
}

.content {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list .item,
.list .title {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 600;
}

.list .item {
    background-color: white;
    padding: 11.5px 0;
}

.list .title {
    background-color: #3f5d45;
    color: #eaf0ed;
    padding: 12.5px 0;
}

.list .all {
    background-color: #eaf0ed;
    color: #3f5d45;
    padding: 12.5px 0;
}

.list a {
    display: block;
    color: #3f5d45;
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.today,
.popular,
.new {
    border: 1px solid #eaf0ed;
}

.menu {
    width: 620px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    width: 300px;
    margin-bottom: 20px;
    position: relative;
}

.menu-item .tag {
    position: absolute;
    top: 0;
    left: 20px;
    width: 36px;
    height: 106.73px;
    text-align: center;
    line-height: 36px;
    writing-mode: vertical-lr;
    background-color: #3f5d45;
    color: #eaf0ed;
    font-size: 16px;
    font-weight: 600;
}
.menu-item img {
    vertical-align: bottom;
}

.menu .title {
    height: 56px;
    display: flex;
    border: 1px solid #eaf0ed;
}

.menu .name,
.menu .price {
    background-color: #ffffff;
    color: #3f5d45;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}

.menu .name {
    width: 173px;
    font-weight: 300;
    line-height: 20px;
    padding: 17px 0;
}

.menu .price {
    width: 125px;
    border: 1px solid #eaf0ed;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 0;
}

.menu .btn {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    padding: 22.5px 0;
    background-color: #eaf0ed;
    color: #3f5d45;
    font-size: 24px;
    font-weight: 600;
}

.btn:hover {
    text-decoration: underline;
}

.page-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.page-nav li {
    width: 60px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
}

.page-nav a {
    display: block;
    text-decoration: none;
    color: #3f5d45;
    line-height: 20px;
    padding: 19px 0;
    text-align: center;
}

.page-nav .btn {
    background-color: white;
    border: 1px solid #eaf0ed;
}

.page-nav .active {
    background-color: #3f5d45;
    border: none;
}

.page-nav .active a {
    color: #eaf0ed;
}
