<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="text">
        <p>messages:{{ messages }}</p>
        <p>scrollHeight:{{ scrollHeight }}</p>
        <p>實際的scrollHeight:{{ realScrollHeight }}</p>
        <div class="messages">
            <p v-for="message in messages">{{ message }}</p>
        </div>
        <input type="text" v-model="message" @keydown.exact.enter="addToMessages">
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>
</html>