.wrap {
    width: 960px;
    margin: auto;
    background-color: darksalmon;
}

.col {
    background-color: white;
    word-break: break-all;
    width: 310px;
    margin: 5px;
    padding: 5px;
    border: 5px solid grey;
    box-sizing: border-box;
    float: left;
}

.clear-fix {
    clear: both;
}
