$primary: #2f80ed;
$lightDark: #354671;
$gray: #808080;
$red: #dc3545;

$font-size-base: 16px;

$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 1.5;

$btn-font-size: $font-size-base * 1.5;
$input-lg-font-size: $font-size-base * 1.5;
$input-sm-font-size: $font-size-base * 1.125;
$tab-font-size: $font-size-base * 1.125;
