h1{
    font-size: 72px;
    color: darkcyan;
}

p{
    color: darkred;
    font-size: 18px;
}

.sp{
    color: #0c6da5;
    font-size: 36px;
    background-color: black;
    font: bolder;
    margin: 20px 20px 20px 20px;
}