.wrap
{
    width: 960px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.item
{
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
}

.item::first-letter
{
    font-size: 36px;
}

.item1
{
    flex-grow: 2;
}

.item2
{
    flex-grow: 2;
}

.item3
{
    flex-grow: 1;
}