.wrap
{
    display: flex;
    border: 3px black solid;
    box-sizing: border-box;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 800px;
    margin: auto;
}

.item
{
    margin: 20px 0;
    width: 300px;
    height: 200px;
    background-color: lawngreen;
}

.item2
{
    align-self: flex-start;
}