.wrap {
    width: 1024px;
    margin: 0 auto;
}

.header {
    margin-bottom: 30px;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content {
    margin-bottom: 20px;
}
.course {
    width: 1024px;
    display: flex;
    justify-content: space-around;
}

.course-item {
    width: 298px;
    border: 1px solid black;
}

.course-item h2 {
    text-align: center;
    font-size: 25px;
}

.course-item p {
    text-align: justify;
}

.course-item img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    padding-top: 10px;
}

.nav li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80px;
    box-sizing: border-box;
    height: 100%;
}

.nav a {
    text-decoration: none;
    color: #2bbd7e;
}

.nav li::after {
    content: '';
    width: 100%;
    height: 3px;
    margin-bottom: -3px;
}

.nav li:hover::after {
    background-color: #2bbd7e;
}
