.wrap {
    width: 100%;
    max-width: 1400px;
}

.title {
    font-size: 36px;
}

.item {
    background-color: beige;
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    .wrap {
        margin: auto;
        display: flex;
    }

    .item {
        width: 500px;
        margin: 10px 20px;
    }
}
