.header
{
    width: 100%;
    display: flex;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    top: -70px;
    animation: headerload 2s ease-in-out forwards;
}

.header a
{
    display: inline-block;
}

.header a img
{
    padding: 10px 10px;
    vertical-align: bottom;
}

@keyframes headerload
{
    0%{
        background-color: transparent;
        top: -70px;
    }
    100%{
        background-color: black;
        top: 0px;
    }
}

.header nav
{
    width: inherit;
    text-align: right;
    font-size: 0px;
}

@keyframes aload
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header nav a
{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    line-height: 70px;
    font-size: 18px;
    opacity: 0;
    animation: aload 1s 2s ease-in forwards;
    transition: font-weight .3s 0s ease,background-color .7s 0s ease,color .7s 0s ease;
}

.header nav a:hover
{
    background-color: white;
    color: black;
    font-weight: bold;
}

.banner
{
    margin-top: 70px;
}

.banner img
{
    width: 100%;
}

.path
{
    display: flex;
    justify-content: center;
}

.path li
{
    position: relative;
}

.path li a
{
    text-decoration: none;
    color: #aaaaaa;
    display: inline-block;
    padding: 10px 10px;
    border-bottom: 3px solid white;
    transition: all 0.5s 0s ease;
}

.path li+li::before
{
    content: '/';
    color: #aaa;
    position: absolute;
    left: -2px;
    top:11.5px;
}

.path li a:hover
{
    border-bottom: 3px solid #555555;
    color: #555555;
}
.about
{
    margin: 10px;
}

.wrap
{
    width: 960px;
    margin: auto;
}

.about .wrap
{
    display: flex;
}

.about .wrap .item
{
    width: 300px;
    margin: 0px 10px;
    text-align: center;
    transition: all 0.5s 0s ease;
}

.about .wrap .item img
{
    border-radius: 50%;
}

.about .wrap .item .title
{
    font-size: 36px;
    font-weight: bold;
    margin: 0 5px;
}

.about .wrap .item .content
{
    padding: 0 5px;
}

.about .wrap .item:hover
{
    color: #888888;
}

.about > h2
{
    font-size: 48px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.about > p
{
    line-height: 1.5;
    margin: auto;
    width: 770px;
    padding: 0 0 60px;
    text-align: center;
}

.product
{
    background-color: #888888;
}

.product .wrap
{
    display: flex;
}

.product .item
{
    width: 50%;
}

.product .item img
{
    width: 100%;
    vertical-align: bottom;
}

.product .wrap .contnet
{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.product .wrap .contnet .title
{
    font-size: 36px;
    font-weight: bold;
}

.footer
{
    background-color: black;
    color: #888888;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.service .wrap
{
    display: flex;
    width: 960px;
    margin: auto;
}

.service .wrap .item
{
    width: 220px;
    margin: 0 10px;
}

.service .wrap .item img
{
    width: 100%;
}

.service .wrap .title
{
    font-size: 36px;
    font-weight: bold;
    margin: 0 5px;
    width: 100%;
    text-align: center;
}

.service .wrap .content
{
    margin: 0 5px;
    width: 100%;
    text-align: center;
}

.service h2 
{
    font-size: 48px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.service p
{
    text-align: center;
    margin: 10px 0px 20px;
}

.service
{
    margin: 20px;
}