.menu_status
{
    display: none;
}

.header
{
    background-color: #aaaaaa;
    position: relative;
    height: 70px;
}

.header .logo
{
    padding: 15px 10px;
}

.menu_btn
{
    background-color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
}

.menu_btn::before
{
    content: '';
    background-color: #f0f0f0;
    width: 44px;
    height: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 3px;
    box-shadow: 0px 10px 0 0 #f0f0f0,0 -10px 0 0 #f0f0f0;
}

.header nav
{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: black;
    position: absolute;
    top: calc(70px - 100vh + 70px);
    left: 0;
    transition: all .75s;
    z-index: -1;
}

.header nav a
{
    text-decoration: none;
    color: rgb(123, 212, 123);
    display: block;
    padding: 10px 10px;
    border-bottom: 3px solid rgb(123, 212, 123);
}

.menu_status:checked + .header nav
{
    top: 70px;
}

@media screen and (min-width:768px)
{
    .menu_btn
    {
        display: none;
    }
    .header nav
    {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        display: flex;
        background-color: transparent;
        z-index: 0;
    }

    .header nav a
    {
        color: black;
        border: none;
        line-height: 50px;
    }

    .header
    {
        display: flex;
        justify-content: space-between;
    }
}