body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title
{
    font-size: 36px;
    font-weight: bold;
    padding: 10px 10px;
}

.namefield
{
    padding: 5px 10px;
    font-size: 24px;
}

.namefield input
{
    font-size: 24px;
}

.agefeild
{
    padding: 5px 10px;
    font-size: 24px;
}

.agefeild input
{
    font-size: 24px;
}

#btnsave
{
    font-size: 24px;
    margin: 10px 10px;
}