.container {
    width: 1200px;
    margin: 0 auto;
}

.name {
    font-size: 80px;
    line-height: 95px;
    font-family: 'SF Pro text';
    border-bottom: 1px solid black;
    padding-top: 40px;
    padding-bottom: 24px;
}

.picture {
    display: block;
    margin: 48px 0;
}

h2 {
    font-size: 32px;
    font-weight: medium;
    font-family: 'PingFang TC';
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

h2 span {
    margin-left: 16px;
    color: #a00404;
    font-size: 24px;
    font-weight: 600;
    font-family: 'SF Pro text';
}

.profile li,
.education li {
    font-size: 24px;
    font-weight: 300;
    font-family: 'SF Pro text';
    margin: 6px 0;
}

.profile,
.education {
    padding-bottom: 72px;
}

.profile li:nth-child(4),
.education li + li {
    margin-top: 30px;
}

.skills {
    background-color: #415165;
    color: white;
    padding-top: 24px;
    padding-bottom: 12px;
    margin-bottom: 72px;
}

.skills h2 {
    text-align: center;
    width: 996px;
    border-bottom: 1px solid white;
    margin: 0 auto;
}

.skills span {
    color: white;
}

.skills ul {
    padding: 0 24px;
    border-left: 1px solid #96a9c4;
    width: 192px;
    margin: 40px auto;
}

.skills li {
    margin-bottom: 20px;
}

.experience ul {
    border-left: 1px solid #96a9c4;
    padding: 0 24px;
    margin-top: 16px;
    margin-left: 24px;
}

li h3,
.footer li {
    font-size: 24px;
    font-weight: medium;
    font-family: 'PingFang TC';
}

li h3 {
    border: none;
}

.experience img {
    margin: 8px 0;
}

.experience li {
    margin-bottom: 32px;
}

.experience p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'PingFang TC';
    line-height: 1.5;
    width: 642px;
}

.footer {
    background-color: #415165;
    margin-top: 76px;
    padding-top: 24px;
    padding-bottom: 48px;
    color: white;
}

.footer h2 {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid white;
}

.footer li {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}

.footer span {
    color: white;
}

.link {
    margin-top: 20px;
    text-align: center;
}

.link li {
    display: inline;
    margin: 0 24px;
}
