.container {
    margin: 20px;
    outline: 3px solid #000;
    width: 400px;
    height: 400px;
    display: grid;
    /*   grid-template-columns:100px 100px 100px 100px;
      grid-template-rows:100px 100px 100px 100px;  */
    /* 	grid-gap:10px; */
    /*   gird-auto-flow:row; */
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}
.B1 {
    grid-row: 1;
    /* 	grid-column:1/2;  */
    background-color: #f55;
    order: 1;
}
.B2 {
    grid-row: 1;
    /* 	grid-column:2/3; */
    background-color: #5f5;
}
.B3 {
    grid-row: 1;
    /* 	grid-column:3/4; */
    background-color: #55f;
}
