<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ count }}</p>
        <p>總共{{ subtotal() }}元</p>
        <p>總共{{ subtotalComputed }}元</p>
        <p>1 日幣 = 0.278 台幣, 且 1 美金 = 28.540 台幣:</p>
        <div>
            台幣: <input type="text" v-model="twd">
        </div>
        <div>
            日幣: <input type="text" v-model="jpy">
        </div>
        <div>
            美金: <input type="text" v-model="usd">
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>
</html>