ul {
    font-size: 0px;
}

li {
    display: inline-block;
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    font-size: 72px;
    text-align: center;
    line-height: 200px;
}

.item19 {
    background-color: violet;
    position: relative;
    left: 220px;
    /* z-index: 0; */
}

.item20 {
    position: relative;
    right: 220px;
}
