@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
}

.banner {
    background: linear-gradient(115deg, #7bf 50%, transparent 50%) center / 100%
            100%,
        url('https://picsum.photos/1200/600/?random=10') right center / auto
            100%;
    height: 100vh;
}

.container {
    margin: auto;
    height: 100%;
    width: 1200px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content h1 {
    font-size: 80px;
    font-weight: 900;
    border-bottom: 1px solid #333;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.content h1 small {
    display: block;
    font-size: 53px;
    font-weight: 700;
}

.content h2 {
    font-size: 50px;
    font-weight: 700;
}

.content p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
}
